* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #eaeded;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}


/* auth */
body {
  background: #fff;
  font-family: Arial, sans-serif;
}

.auth-wrapper {
  width: 350px;
  margin: 30px auto;
  font-family: Arial, sans-serif;
}

.logo {
  display: block;
  margin: 0 auto 20px;
  width: 103px;
}

.auth-box {
  border: 1px solid #ddd;
  padding: 20px 26px;
  border-radius: 8px;
}

.auth-box h1 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
}

.auth-box label {
  font-size: 13px;
  font-weight: 700;
}

.auth-box input {
  width: 100%;
  height: 31px;
  padding: 3px 7px;
  margin-top: 3px;
  margin-bottom: 12px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
}

.auth-box button {
  width: 100%;
  height: 31px;
  background: #FFD814;
  border: 1px solid #a88734;
  border-radius: 3px;
}

.divider {
  text-align: center;
  margin: 18px 0;
  font-size: 12px;
  color: #767676;
}

.secondary-btn {
  width: 100%;
  margin-top: 10px;
  height: 31px;
  border: 1px solid #a6a6a6;
  border-radius: 10px;

}

.google-btn {
  width: 100%;
  margin-top: 10px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  background: white;
}

.google-btn img {
  width: 18px;
}

.terms {
  font-size: 11px;
  margin-top: 9px;
  margin-bottom: 15px;
}

.buy {
  font-size: 14px;
  margin-top: 9px;
  font-weight: 700;
}

.buy p {
  margin-top: 5px;
  font-weight: 400;

}


.link {
  color: #0066c0;
  cursor: pointer;
  font-size: 12px;
}

/* nav */
.navbar {
  background-color: #131921;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #f08804;
}

.search {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: none;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a,
.logout {
  font-size: 13px;
  cursor: pointer;
}

.logout span {
  display: block;
  font-weight: bold;
}

.cart {
  font-weight: bold;
}

/* product */
.grid {
  max-width: 1400px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
}

.card img {
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}

.card h4 {
  font-size: 14px;
  margin-bottom: 6px;
}

.card p {
  font-weight: bold;
  margin-bottom: 10px;
}

.card a {
  display: inline-block;
  padding: 6px 10px;
  background: #ffd814;
  border: 1px solid #fcd200;
  border-radius: 3px;
  font-size: 13px;
}

.product-details {
  background: white;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  gap: 40px;
}

.product-details img {
  width: 300px;
  object-fit: contain;
}

.product-details button {
  margin-top: 15px;
  padding: 8px;
  background: #ffd814;
  border: 1px solid #fcd200;
  width: 200px;
}

/* cart */

.cart-page {
  max-width: 1000px;
  margin: 20px auto;
  background: white;
  padding: 20px;
}

.cart-page h2 {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.cart-item button {
  background: none;
  border: none;
  color: #007185;
}

.checkout {
  max-width: 400px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  text-align: center;
}

.checkout button {
  width: 100%;
  padding: 10px;
  background: #ffd814;
  border: 1px solid #fcd200;
}


.orders {
  max-width: 900px;
  margin: 20px auto;
}

.order-card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
}

/* footer */

.footer {
  background: #232f3e;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer p {
  font-size: 13px;
  margin-bottom: 6px;
}

.footer .copyright {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}